<header>
  <a href="#" id="pagetitle">Your Codes</a>
  <nav>
    <div>
      <ul id="headerbar">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/code">Codes</a>
        </li>
        <li>
          <a href="/user/register">Register</a>
        </li>
        <li>
          <a href="/user/login">Login</a>
        </li>
        {{#if loggedIn}}
        <li>
          <a href="user/logout">Logout</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>