<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  
  <body>
    {{>header}}
    {{>flash}}
    {{{body}}}
  </body>
</html>