<p>Please enter your username and password to login:</p>

<form method="POST" action="/user/login">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login" />
</form>
