<p>Edit code snippet</p>

<form method="POST" action="/code/edit">
    <textarea name="code" placeholder="Enter your code here" rows="20" cols="80"></textarea>
    <br>
    <input type="submit" value="Update Snippet" />
</form>