<h1>Codes</h1>

<a href='code/new'>Create new code snippet</a>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th></th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {{#if codeData.codes.length }}
    {{#each codeData.codes}}
    <tr>
      <td>{{ this.code }}</td>
      <td>
        <a href="code/{{this.id}}/edit"><span class="edit-btn">Edit</span></a>
        <a href="code/{{this.id}}/delete"><span class="edit-btn">Delete</span></a>
      </td>
      <td>Author</td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td>
        There are no code snippets available.
      </td>
    </tr>
    {{/if}}
  </tbody>
</table>