<p>New code snippet</p>

<form method="POST" action="/code/new">
    <textarea name="code" placeholder="Enter your code here" rows="20" cols="80"></textarea>
    <br>
    <input type="submit" value="Create Snippet" />
</form>