<p>Hello! What can I do for you?</p>

<form method="POST" action="/">
    <input type="text" name="name" placeholder="Enter your wish here" />
    <input type="submit" value="Send" />
</form>

{{#if viewData}}
<p>Your wish is {{viewData.name}} on this {{viewData.dayName}} </p>
{{/if}}