<p>Welcome! Please enter your username and password to register an account</p>

<form method="POST" action="/create">
    {{>validation}}
    <input type="text" name="username" placeholder="Username" /><br><br>
    <input type="password" name="password" placeholder="Password" /><p>Your password needs to be at least 10 characters long.</p>
    <input type="submit" value="Register" />
</form>

{{#if viewData}}
<p>Hello {{viewData.name}}! </p>
{{/if}}